#container {
    width: 100vh;
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#controllers {
    width: 20vh;
}